name: Security CI (Reusable)

on:
  workflow_call:
    inputs:
      service_name:
        required: false
        type: string
  workflow_dispatch:

permissions:
  contents: read
  actions: read

jobs:
  run-checks:
    runs-on: ubuntu-latest
    steps:
      - name: Run SAST
        uses: ./.github/actions/sast

      - name: Run SonarQube Coverage
        uses: ./.github/actions/sonarqube

      - name: Run Unit Tests
        uses: ./.github/actions/unittest

      - name: Orchestrator message
        if: ${{ inputs.service_name != '' }}
        shell: bash
        run: echo "microservice-updated-${{ inputs.service_name }}"
